<section class="artigos-container">
  <div class="container">
    <h2 class="section-title">Nossos Serviços</h2>
    <div class="artigos-row">
      <article class="artigo-card">
        <div class="artigo-img">
          <img src="https://i.postimg.cc/P56SFTmM/Cabelo.jpg" alt="Corte de cabelo">
        </div>
        <div class="artigo-content">
          <h3>Corte de Cabelo</h3>
          <p>Fazemos varios estilo de corte ou peça um que combina com seu estilo.</p>
        </div>
      </article>

      <article class="artigo-card">
        <div class="artigo-img">
          <img src="https://i.postimg.cc/xT3xMK8h/Barba.jpg" alt="Corte de Barba">
        </div>
        <div class="artigo-content">
          <h3>Corte de Barba</h3>
          <p>Dicas práticas para manter a barba limpa, hidratada e bem alinhada.</p>
        </div>
      </article>

      <article class="artigo-card">
        <div class="artigo-img">
          <img src="https://i.postimg.cc/13RWHfNt/Cabelo-Barba.jpg" alt="Corte cabelo e barba">
        </div>
        <div class="artigo-content">
          <h3>Cabelo e Barba</h3>
          <p>Pacote completo para quem busca renovar o visual com estilo e personalidade.</p>
        </div>
      </article>
    </div>
  </div>
</section>