<!-- Quem Somos -->
<div class="quem-somos-container">
  <section class="quem-somos" aria-label="Seção Quem Somos">
    <div class="container">
      <div class="row align-items-center">
        <!-- Texto -->
        <div class="col-md-6 col-12 mb-4">
          <h1 class="section-title">Quem Somos</h1>
          <p>
            Fundada por apaixonados pela arte do estilo masculino, a Barbearia do Alemão é mais do que um lugar para cortar cabelo — é um espaço de convivência, estilo e confiança.
          </p>
          <p>
            Valorizamos cada cliente como único, oferecendo um atendimento personalizado, com um ambiente descontraído, músiquinha top!
          </p>
          <p>
            Aqui, tradição encontra a inovação para transformar cada visita em uma experiência memorável.         
          </p>
        </div>
        <!-- Imagem -->
        <div class="col-md-6 col-12">
          <div class="image-container">
            <img src="https://i.postimg.cc/85TgB1Dm/Captura-de-tela-2025-06-09-195309.png" alt="Barbearia do Alemão" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
</div>